@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px; 
}

body {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(167, 196, 224);
}

.container {
  display: grid;
  background-color: rgb(69, 168, 69);
  grid-template-columns: repeat(4, 1fr);
  border-radius: 20px;  
}

.container .result {
  outline: none;
  border: none;
  height: 90px;
  padding-right: 15px;
  text-align: right;
  background: whitesmoke;
  color: black;
 
}
.container .buttons {
  width: 70px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  color: white;
  transition: 0.2s;
}
.container .buttons:hover {
  background: rgb(109, 221, 165);
}

#result {
  grid-column: 1/-1;
}
#clear {
  grid-column: span 3;
  width: 210px;
}

#equals {
  grid-column: span 2;
  border-right: none;
  border-bottom: none;
  width: 140px;
}

#center {
  text-indent: 1px;
}